@{
    ViewData["Title"] = "Home Page";
}

<h1>CallsCRM</h1>

<div>
    <ul>
        <li><h3><a asp-controller="Caller" asp-action="Index">Caller</a></h3></li>
        <li><h3><a asp-controller="Customer" asp-action="Index">Customer</a></h3></li>
        <li><h3><a asp-controller="Call" asp-action="Index">Call</a></h3></li>
    </ul>
</div>
